body{
    margin: 0;
    background: #444;
}
h1{
    display: block;
    font-size: 2em;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 20px black;
}

@import 'profile.scss';
@import 'content.scss';
@import 'nav.scss';